**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/js/distillpub/transforms.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/**/*.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/*
_pages/*.md
_news/*.md
_projects/*.md
_config.yml
_data/**/*.yml
_includes/**/*.liquid
_layouts/**/*.liquid
backup/**
INSTALL.md
assets/json/resume.json
